# python
.venv/

# CSV data files
csv/*

# Migrations
db/migrations/*

# Python bytecode
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Editor/IDE
.vscode/
.idea/
*.swp

# scripts
scripts/normalization_fields.py

# environment variables
.env
.env.*
!.env.example

# migrations
